.sidebar-container {
  box-shadow: -1px 3px 15px 1px #aca1a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.adminName {
  margin-left: 15px;
  font-size: 2rem;
}

.actions {
  display: flex;
  max-width: 30vw;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
