.mainOuterContainer {
  min-height: 88vh;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}
.container {
  max-width: 25vw;
  min-height: 60vh;
  margin: 100px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: -3px 3px 20px 2px #9b9b9b;
  font-size: 1.1em;
}
#loginHeading {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
#signup_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login_signup_btn {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 15px;
}

.loginButton {
  width: 100%;
}

.signUpButton {
  width: 100%;
}
